@inherits BaseComponent<IFooterbarComponent>

<div class="art-footer">
    <div class="art-footer-body">
        <span>copyright &copy; 2020 the striped lawn company limited</span>
        <a href="/posts/2020/09/made-on-a-mac">
            <img class="made-on-a-mac" src="/assets/mwmac.png" />
        </a>
    </div>
</div>
