@inherits BaseComponent<IHeaderbarComponent>

<div class="art-header">
    <div class="art-header-body">
        <h1><a href="https://tslc.ltd">the striped lawn company</a></h1>
        <h2>cultivating excellence in IT</h2>
    </div>
</div>
