.art-sheet {
    margin: auto;
    max-width: 984px;
    border: solid 3px #819292;
    box-shadow: 0px 0px 3px 3px #5b5b5bC6;
}

.art-sheet-body {
    padding: 5px;
    min-width: 20px;
    min-height: 20px;
    height: auto;
    background: #FCFDFD;
}

.art-content-layout {
    position: relative;
    min-height: 380px;
}

.art-sidebar {
    position: absolute;
    float: left;
    width: 200px;
    z-index: 1;
    height: 100%;
    padding-bottom: 1px;
    background-color: #F4F5F5;
    overflow-x: hidden;
    transition: 0.5s;

    @media screen and (max-width: 768px) {
        width: 0px;
    }
}

.art-post {
    position: relative;
    margin-left: 200px;
    padding: 20px;
    transition: 0.5s;

    @media screen and (max-width: 768px) {
        margin-left: 0px;
    }
}

.art-sidebar-button {
    border-radius: 3px;
    border: solid 2px #0E0B06;
    filter: invert(100%);
    cursor: pointer;
    display: flex;
    position: relative;
    left: 2px;
    top: -30px;
    padding: 0;
    margin-bottom: -28px;
    height: 28px;
    width: 28px;
}
