
.art-vmenu {
    display: block;
}

.art-vmenu-header {
    margin: 0;
    padding: 0 10px 0 10px;
    white-space: nowrap;
    min-height:  34px;
    line-height: 34px;
    color: #714905;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.art-vmenu-body {
    display: block;

    ul {
        li {
            text-decoration: none;
        }
    }
}

.mat-tree-node {
    min-height: 30px;
}

.mat-tree,
.mat-tree-node {
    background-color: #F4F5F5;
}

.mat-tree-node[aria-expanded="true"] {
    background-color:#8E5C0633;
}

.art-vmenu-item {
    box-sizing: border-box;
    background-color: #F4F5F5;
    cursor: pointer;
    border-bottom: solid 1px #748686A9;

    &:hover {
        background: #B0BBBB;
    }

    button {
        border-style: none;
        background: transparent;
        padding-left: 1px;
        padding-right: 1px;
        min-height: 30px;
        cursor: pointer;
        width: 100%;
    }
}

.anchor {
    display: table-cell;
    vertical-align: middle;
    // border: solid 1px blue;
    width: 250px;
    text-align: left;
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #4E5A5A;
    padding: 2px 2px 2px 9px;
    min-height: 30px;
}
